.login-title {
    font-family: 'League Gothic', sans-serif;
    padding-top: 5%;
    margin-bottom: 10px;
    font-size: 70px;
    text-align: center;
    color: #fd5353;
}



.note-title {
    font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy', cursive;
    font-size: 45px;
    color: #fd5353;
}

.login-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-btn {
    background-color: #fd5353;
    border: none;
    font-family: 'League Gothic', sans-serif;
    color: #ffffff;
    height: 50px;
    font-size: 30px;
    border-radius: 6px;
}

.login-btn:hover {
    background-color: #ff6b6b;
}

.sign-up-link {
    color: green;
    text-decoration: none;
}

.sign-up-link :hover {
    color: green;

}



@media only screen and (max-width: 767px) {
    .login-container {
        flex-direction: column;
    }
}